<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Alert Component</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css" />

	<link rel="stylesheet" href="alert.css" />

	<style>
		.container {
			margin: 30px auto;
			max-width: 770px;
			padding: 0 10px;
		}
	</style>
</head>
<body>

	<div class="container">
		<div class="alert alert--success" role="alert">
			<strong>Well done!</strong> You successfully read this important alert message.
		</div>
		<!-- /.alert -->

		<div class="alert alert--danger" role="alert">
			<strong>Heads up!</strong> This alert needs your attention, but it's not super important.
		</div>
		<!-- /.alert -->

		<div class="alert alert--info" role="alert">
			<strong>Oh snap!</strong> Change a few things up and try submitting again.
		</div>
		<!-- /.alert -->

		<div class="alert alert--warning" role="alert">
			<strong>Warning!</strong> Better check yourself, you're not looking too good.
		</div>
		<!-- /.alert -->
	</div>
	<!-- /.container -->

</body>
</html>